<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner">
	<div class="container">
  <!-- Brand -->
  <a class="navbar-brand" href="/"><span>Poly</span>Drive</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item <%= menuId === 'home' && 'active' %>">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contributers">Contributers</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved</a>
      </li> 
	   <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Dipartments
      </a>
      <div class="dropdown-menu">
        <% data.dipartments.forEach(function(dipartment){ %>
            <a class="dropdown-item" href="/folder/<%= dipartment.id %>"><%= dipartment.name %></a>
        <% }); %>
      </div>
    </li>
    </ul>
  </div>
	</div>
</nav>